---
import Layout from "../../layouts/Layout.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient } from "../../lib/contentful";
import type { Person } from "../../lib/contentful";

export async function getStaticPaths() {
	const entries = await contentfulClient.getEntries<Person>({
		content_type: "person",
	});

	const pages = entries.items.map((item) => ({
		params: { slug: item.fields.slug },
		props: {
			title: item.fields.title,
			bio: item.fields.bio,
			jobTitle: item.fields.jobTitle,
			headshot: item.fields.headshot,
		},
	}));
  	return pages;
}

const {title, jobTitle, headshot, bio} = Astro.props;
---

<Layout title={title}>
	<div class="relative bg-white py-16 sm:py-24">
		<div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24 lg:items-start">
		  <div class="relative sm:py-16 lg:py-0">
			<div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
			  <div class="absolute inset-y-0 right-1/2 w-full bg-gray-50 rounded-r-3xl lg:right-72"></div>
			  <svg class="absolute top-8 left-1/2 -ml-3 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392">
				<defs>
				  <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
					<rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
				  </pattern>
				</defs>
				<rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
			  </svg>
			</div>
			<div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0 lg:max-w-none lg:py-20">
			  <div class="relative pt-64 pb-64 rounded-2xl shadow-xl overflow-hidden">
				{headshot ?
					<img class="absolute inset-0 h-full w-full object-cover" src={'https://res.cloudinary.com/basicgenius/image/upload/f_auto/q_auto/w_1500/v' + headshot[0].version + '/' + headshot[0].public_id} alt={title}>
					:
					<img class="absolute inset-0 h-full w-full object-cover" src="https://res.cloudinary.com/basicgenius/image/upload/v1646250153/missing-headshot_exwtou.jpg" alt={title}>
				}
			  </div>
			</div>
		  </div>

		  <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0">
			<!-- Content area -->
			<div class="pt-12 sm:pt-16 lg:pt-20">
			  <h1 class="text-3xl text-gray-900 font-extrabold tracking-tight sm:text-4xl">{ title }</h1>
			  <h2>{ jobTitle }</h2>
			  <div class="mt-6 text-gray-500 space-y-6">
				<p class="text-lg">{ bio }</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</Layout>


