<footer class="bg-warm-gray-900" aria-labelledby="footerHeading">
    <h2 id="footerHeading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="space-y-8 xl:col-span-1">
          <img class="h-48" src="https://res.cloudinary.com/basicgenius/image/upload/f_auto,q_auto,w_200,c_limit/v1606741321/logo-square_txikth.jpg" alt="Seasons Counseling, LLC">
          <p class="text-warm-gray-400 text-base">
            Journey forward—let us help you reach new heights
          </p>
        </div>
        <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold text-warm-gray-200 tracking-wider uppercase">
                Services
              </h3>
              <ul class="mt-4 space-y-4">
                <li>
                  <span class="text-base text-warm-gray-400 ">
                    Individual Therapy
                  </span>
                </li>
                <li>
                  <span class="text-base text-warm-gray-400 ">
                    Group Therapy
                  </span>
                </li>
                <li>
                  <span class="text-base text-warm-gray-400 ">
                    Trauma Therapy
                  </span>
                </li>
                <li>
                  <span class="text-base text-warm-gray-400 ">
                    Family Counseling
                  </span>
                </li>
                <li>
                  <span class="text-base text-warm-gray-400 ">
                    Marriage Counseling
                  </span>
                </li>
                <li>
                  <span class="text-base text-warm-gray-400 ">
                    Substance Use Counseling
                  </span>
                </li>
                <li>
                  <span class="text-base text-warm-gray-400 ">
                    Christian Counseling
                  </span>
                </li>
              </ul>
            </div>
        </div>
      </div>
      <div class="mt-12 border-t border-warm-gray-700 pt-8">
        <p class="text-base text-warm-gray-400 xl:text-center">
          &copy; 2021 Seasons Counseling, LLC
        </p>
      </div>
    </div>
  </footer>