<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white" x-data="{ showMobileMenu: false }">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="/">
            <span class="sr-only">Seasons Counseling, LLC</span>
            <img class="h-8 w-auto sm:h-10" src="https://res.cloudinary.com/basicgenius/image/upload/f_auto,q_auto/v1606741296/logo_qswd2j.jpg" alt="">
          </a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button type="button" @click="showMobileMenu = true" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: menu -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <nav class="hidden md:flex space-x-10">
          <a href="/providers" class="text-base font-medium text-gray-500 hover:text-gray-900">
            Providers
          </a>
          <a href="/about" class="text-base font-medium text-gray-500 hover:text-gray-900">
            About
          </a>
          <a href="/contact" class="text-base font-medium text-gray-500 hover:text-gray-900">
            Contact
          </a>
          <a href="/#services" class="text-base font-medium text-gray-500 hover:text-gray-900">
            Services
          </a>
          <a href="/assets/seasons-counseling-referral.pdf" class="text-base font-medium text-gray-500 hover:text-gray-900">
            County Referral
          </a>
        </nav>
      </div>
    </div>

    <!--
      Mobile menu, show/hide based on mobile menu state.

      Entering: "duration-200 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div x-show="showMobileMenu"
         x-transition:enter="duration-200 ease-out"
         x-transition:enter-start="opacity-0 scale-9"
         x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="duration-100 ease-in"
         x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-95"
         class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
      <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
        <div class="pt-5 pb-6 px-5">
          <div class="flex items-center justify-between">
            <div>
              <img class="h-8 w-auto" src="https://res.cloudinary.com/basicgenius/image/upload/f_auto,q_auto/v1606741296/logo_qswd2j.jpg" alt="Seasons Counseling, LLC">
            </div>
            <div class="-mr-2">
              <button @click="showMobileMenu = false" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <span class="sr-only">Close menu</span>
                <!-- Heroicon name: x -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="mt-6">
            <nav class="grid gap-y-8">
              <a href="/providers" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900">
                  Providers
                </span>
              </a>
              <a href="/about" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900">
                  About
                </span>
              </a>
              <a href="/contact" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900">
                  Contact
                </span>
              </a>
              <a href="/#services" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900">
                  Services
                </span>
              </a>
              <a href="/assets/seasons-counseling-referral.pdf" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900">
                  County Referral
                </span>
              </a>
            </nav>
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <div>
            <a href="/contact" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-seasons-blue-600 hover:bg-seasons-blue-700">
              Get in touch
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
