<div class="bg-seasons-blue-700">
	<div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
	  <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
		<span class="block">Are you ready?</span>
		<span class="block">Take the next step <span class="italic">today</span></span>
	  </h2>
	  <a href="/contact" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-seasons-blue-600 bg-white hover:bg-gray-50 sm:w-auto">
		Get in touch
	  </a>
	</div>
  </div>