<div class="bg-white" id="services">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
	  <div class="max-w-3xl mx-auto text-center">
		<h1 class="text-3xl font-extrabold text-gray-900">Seasons Counseling — Therapy for adults and children in Wisconsin</h2>
		<p class="mt-4 text-lg text-gray-500">We are trained, compassionate professionals who are culturally competent and ready to serve the mental health needs in all communities.</p>
	  </div>
	  <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
		<div class="relative">
		  <dt>
			<!-- Heroicon name: outline/check -->
			<svg xmlns="http://www.w3.org/2000/svg" class="absolute h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
			</svg>
			<p class="ml-9 text-lg leading-6 font-medium text-gray-900">Individual Therapy</p>
		  </dt>
		  <dd class="mt-2 ml-9 text-base text-gray-500">
			Find a safe and confidential environment with therapists who can help you find peace and solutions in the issues you are facing.
		  </dd>
		</div>

		<div class="relative">
		  <dt>
			<!-- Heroicon name: outline/check -->
			<svg xmlns="http://www.w3.org/2000/svg" class="absolute h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
			</svg>
			<p class="ml-9 text-lg leading-6 font-medium text-gray-900">Group Therapy</p>
		  </dt>
		  <dd class="mt-2 ml-9 text-base text-gray-500">
			Join others looking to make positive changes in their lives. With the support of your peers and trained mental health providers, you can make the progress you need.
		  </dd>
		</div>

		<div class="relative">
		  <dt>
			<!-- Heroicon name: outline/check -->
			<svg xmlns="http://www.w3.org/2000/svg" class="absolute h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
			</svg>
			<p class="ml-9 text-lg leading-6 font-medium text-gray-900">Family Counseling</p>
		  </dt>
		  <dd class="mt-2 ml-9 text-base text-gray-500">
			Many say true change can come from new family dynamics. This environment allows for all voices to be heard while guiding the family system to desired solutions.
		  </dd>
		</div>

		<div class="relative">
		  <dt>
			<!-- Heroicon name: outline/check -->
			<svg xmlns="http://www.w3.org/2000/svg" class="absolute h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
			</svg>
			<p class="ml-9 text-lg leading-6 font-medium text-gray-900">Marriage Counseling</p>
		  </dt>
		  <dd class="mt-2 ml-9 text-base text-gray-500">
			Together, you can explore the challenges your relationship has faced to better understand, support and communicate with each other while thriving in your marriage.
		  </dd>
		</div>

		<div class="relative">
		  <dt>
			<!-- Heroicon name: outline/check -->
			<svg xmlns="http://www.w3.org/2000/svg" class="absolute h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z" />
			</svg>
			<p class="ml-9 text-lg leading-6 font-medium text-gray-900">Trauma Therapy</p>
		  </dt>
		  <dd class="mt-2 ml-9 text-base text-gray-500">
			Trauma comes in all shapes and sizes. We understand that all cause pain. This is a safe and supportive environment where you can process various traumas that have affected your life.
		  </dd>
		</div>

		<div class="relative">
		  <dt>
			<!-- Heroicon name: outline/check -->
			<svg xmlns="http://www.w3.org/2000/svg" class="absolute h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z" />
			</svg>
			<p class="ml-9 text-lg leading-6 font-medium text-gray-900">Substance Use Counseling</p>
		  </dt>
		  <dd class="mt-2 ml-9 text-base text-gray-500">
			You are stronger than what binds you. Receive relapse prevention planning, support in learning to control your cravings, and start to develop a healthier lifestyle with this therapeutic relationship.
		  </dd>
		</div>

		<div class="relative">
		  <dt>
			<svg class="absolute h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" >
			  <g>
				<path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M72.3,127.5H55.7c-1.1,0-2-0.9-2-2V51.6H20.2c-1.1,0-2-0.9-2-2V33c0-1.1,0.9-2,2-2h33.5V2.5   c0-1.1,0.9-2,2-2h16.6c1.1,0,2,0.9,2,2V31h33.5c1.1,0,2,0.9,2,2v16.6c0,1.1-0.9,2-2,2H74.3v73.9C74.3,126.6,73.4,127.5,72.3,127.5z    M57.7,123.5h12.6V49.6c0-1.1,0.9-2,2-2h33.5V35H72.3c-1.1,0-2-0.9-2-2V4.5H57.7V33c0,1.1-0.9,2-2,2H22.2v12.6h33.5   c1.1,0,2,0.9,2,2V123.5z"></path>
			  </g>
			</svg>
			<p class="ml-9 text-lg leading-6 font-medium text-gray-900">Christian Counseling</p>
		  </dt>
		  <dd class="mt-2 ml-9 text-base text-gray-500">
			Christ centered mental health counseling in a non-judgmental environment while working through struggles in your life.
		  </dd>
		</div>
	  </dl>
	</div>
  </div>