<div class="relative bg-white pt-16 pb-32 overflow-hidden">
	<div class="relative">
	  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
		<div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
		  <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
			<img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/basicgenius/image/upload/v1624930641/f_auto,q_auto,w_1200,c_limit/Stock/GettyImages-814596226_co0tdd.jpg" alt="Customer profile user interface" loading="lazy">
		  </div>
		</div>
		<div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
		  <div>
			<div class="mt-6">
			  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
				Being heard
			  </h2>
			  <p class="mt-4 text-lg text-gray-500">
				Expressing yourself and sharing your thoughts is important. It is our goal that you feel genuinely cared for. We provide that through a calm and judgment free environment.
			  </p>
			  <p class="mt-4 text-lg text-gray-500">
				Are you ready to talk?<br />
				Do you need someone to actively listen and hear you out?
			  </p>
			  <div class="mt-6">
				<a href="/contact" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
				  Let's talk
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="mt-24">
	  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
		<div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-2">
		  <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
			<img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/basicgenius/image/upload/v1624930638/f_auto,q_auto,w_1200,c_limit/a_hflip/Stock/GettyImages-87397660_ysqlm3.jpg" alt="Inbox user interface" loading="lazy">
		  </div>
		</div>
		<div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
		  <div>
			<div class="mt-6">
			  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
				Instruction
			  </h2>
			  <p class="mt-4 text-lg text-gray-500">
				You have your own uniqueness. Strengthen yourself and grow through emotional stressors here.
			  </p>
			  <p class="mt-4 text-lg text-gray-500">
				Are you ready to see more of your strengths and potential?
			  </p>
			  <div class="mt-6">
				<a href="/contact" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
				  Let's talk
				</a>
			  </div>
			  <div class="mt-6">
				<p>&nbsp</p>
				<p>&nbsp</p>
				<p>&nbsp</p>
				<p>&nbsp</p>
				<p>&nbsp</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="mt-24">
	  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
		<div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
		  <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
			<img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/basicgenius/image/upload/v1624930659/f_auto,q_auto,w_1200,c_limit/a_hflip/Stock/GettyImages-1056062042_nqevtd.jpg" alt="Customer profile user interface" loading="lazy">
		  </div>
		</div>
		<div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
		  <div>
			<div class="mt-6">
			  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
				Self-enhancement
			  </h2>
			  <p class="mt-4 text-lg text-gray-500">
				You can find the motivation to enhance your self-esteem.  Equip yourself with the right tools to improve your thoughts and well-being.
			  </p>
			  <p class="mt-4 text-lg text-gray-500">
				Is it time to take action?
			  </p>
			  <div class="mt-6">
				<a href="/contact" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
				  Let's talk
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>